.navigation {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    min-height: 9vh;
    margin-top: 1rem;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    min-height: 7vh;
    border: 2px solid #bc6c25;
    border-radius: 16px;
    background-color: #fefae0;
    padding: 0 1rem; 
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1%;
    min-height: 6vh;
    margin-right: 9px;
}

.nav-link {
    text-decoration: none;
    color: #bc6c25;
    font-weight: 600;
    font-size: 1em;
    min-width: 130px;
    min-height: 30px;
    transition: all 0.3s ease;
}

.nav-link:hover {
    color: white;
    background-color: #bc6c25;
    border-radius: 7px;
    min-width: 200px;
    min-height: 35px;
    font-size: 1.2em;
    font-weight: 300;
    border: 1px solid orange;
}

.active {
    color: white;
    background-color: #bc6c25;
    border-radius: 7px;
    min-width: 200px;
    min-height: 35px;
    font-size: 1.2em;
    font-weight: 300;
    border: 1px solid orange;
}

.privacy-link {
    color: white;
    background-color: navy;
    border-radius: 7px;
    min-width: 200px;
    min-height: 35px;
    font-size: 1.2em;
    font-weight: 300;
    border: 1px solid black;
}

.logout-btn {
    background-color: #dda15e;
    border: 3px solid #bc6c25;
    font-size: 1.1em;
    min-width: 100px;
    min-height: 40px;
    border-radius: 9px;
    transition: all 0.3s ease;
}

.logout-btn:hover {
    background-color: #dda15e;
    border: 3px solid #bc6c25;
    font-size: 1.3em;
    min-width: 120px;
    min-height: 50px;
    border-radius: 15px;
    color: wheat;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center; 
    }

    .nav-items {
        flex-direction: column; 
        gap: 0.5rem; 
    }

    .nav-link,
    .privacy-link {
        min-width: 80%; 
    }

    .logout-btn {
        min-width: 80%; 
    }
}

@media (max-width: 480px) {
    .nav-link,
    .privacy-link {
        font-size: 0.9em;
        display: flex;
        align-items: center;
    }

    .logout-btn {
        font-size: 0.9em;
    }
}
